body{
  background-color:#c2e8f6;
}
#counter{
  height:200px;
  width:90%;
background-color:#44849b;

margin-left: 5%;
margin-top: 50px;

}
#enter{
  font-style: bold;
  font-family: arial;
  color:white;
  margin-left: 20%;
  display: block;
 margin-block-start: 1em;
 margin-block-end: 1em;
 margin-inline-start: 0px;
 margin-inline-end: 0px;
 font-size: 3rem;
 text-align: center;
 margin: 0;
 width: 100%;
 line-height: 80px;
}
#abc{
  position: absolute;
  text-align: center;
  font-size: 4rem;;
  font-weight: bold;
  color:black;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
#abcone{
  position: absolute;
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  color:black;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
#write{
  position: relative;
  display: inline-block;
  height: 40px;
  width:25%;
  background-color: white;
  margin-left: 15%;
  margin-top: 25px;
  font-style: normal;
  font-size: 1rem;
}
#done{
  position: relative;
  display: inline-block;
  height:50px;
  width:10%;
  font-weight: bold;
  border-radius:25px;
  box-shadow: 0px 0px 30px 5px white;
  margin-left: 25%;
}
#box{
  position: relative;
  height:200px;
  width:60%;
  background-color: #18323d;
  margin-left:20%;
}
#innerbox:hover{
  box-shadow: 0px 0px 10px 2px white;
}
#innerbox{
  position: absolute;
  width:70px;
  height:70px;
  top:50%;
  left:50%;
  background-color: white;
  transform: translate(-50%,-50%);
  overflow: hidden;
  background: #f0f8ff;
}
#current{
  position: absolute;
  width:70px;
  height:70px;
  top:50%;
  left:50%;
  background-color: white;
  transform: translate(-50%,-50%);
  border-top: 2px solid black;
  background: #f0f8ff;
}
.next{
  position: absolute;
  width:70px;
  height:70px;
  top:50%;
  left:50%;
  background-color: white;
  transform: translate(-50%,-50%);
  margin-top: 70px;
  border-top: 2px solid black;
   background: #f0f8ff;
}
.next.animate{
  transition:all 0.5s;
}
.animate{
  margin-top:0px;
}
